<div class = "privacy_p">
<p>
個人情報取り扱い同意書<br>

 

ITL-Experience-Commons(以下「本サービス」)では、お預かりした個人情報について、以下のとおり適正かつ安全に管理・運用することに努めます。<br>

 

１．利用目的<br>

本サービスは、主に名前、学籍番号、所属ゼミ、希望進路の個人情報を取得します。<br>
本サービスは、収集した個人情報について、以下の目的のために利用いたします。<br>

①学籍番号を用い、iTL生以外の利用を防ぐため<br>

②所属ゼミ、希望進路から検索機能を実施することで、有意義な一対一の情報交換を行うため<br>


 
２．第三者提供<br>

本サービスは、以下の場合を除いて、個人データを第三者へ提供することはしません。<br>

①法令に基づく場合<br>

②人の生命・身体・財産を保護するために必要で、本人から同意を得ることが難しい場合<br>

③国の機関や地方公共団体、その委託者などによる法令事務の遂行にあたって協力する必要があり、かつ本人の同意を得ることで事務遂行に影響が生じる可能性がある場合<br>

 

３．開示請求

貴殿の個人情報について、ご本人には、開示・訂正・削除・利用停止を請求する権利があります。
</p>

</div>