<div class="advertisements-index">
 <div class="left">
   <div class="create-advertisement">
     <div class="container">
       <%= link_to("宣伝投稿へ", "/advertisements/new") %>
     </div>
     <p>
     サークル紹介から課外活動まで、
　　　ITLの学生に向けて宣伝・告知をしよう!
     </p>
   </div>
 </div>

 <div class="rigth">
   <div class="advertisement-card">
     <div class="advertiser-profile">
       <p>トプ画と名前</p>
     </div>

     <div class="advertisement-content">
       <p>宣伝の内容</p>
     </div>

     <div class="advertisement-meta">
       <p>投稿日時などのメタ情報</p>
     </div>
   </div>
 </div>
<div>